<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					WatchYourBAC <small>Compute Your Blood Alcohol Level</small>
				</h1>
			</div>
			<ul class="nav nav-pills">
				<li>
					<a [routerLink]="['Info']">Home</a>
				</li>
				<li>
					<a [routerLink]="['BeerSearch']">Search</a>
				</li>
				<li>
					<a [routerLink]="['Consumed']">Beers Consumed</a>
				</li><br />
			</ul>
            <div class="container">
                <router-outlet></router-outlet>
            </div>
		</div>
	</div>
</div>