<form (ngSubmit)="addBeer()" #beerDetailsForm="ngForm" [ngFormModel]="form">
    <h1>Beer Details</h1>
    <div class="form-group input-group">
        <div class="info">
            <label>Name</label>
            <div class="info">{{beer.nameDisplay}}</div>
        </div>
        <div class="info">
            <label>Description</label>
            <div class="info">{{beer.description}}</div>
        </div>
        <div class="info">
            <label>Alcohol by Volume</label>
            <div class="info">{{beer.abv}}%</div>
        </div>
        <div class="info">
            <quantity-controls [(quantityModel)]="beer.quantity" shouldHideUpdate="true" shouldHideRemove="true"></quantity-controls>
            <input type="hidden" ngControl="quantityControl" [(ngModel)]="beer.quantity" />
        </div>
        <div class="radio">
            <input id="bottle/pint" type="radio" name="beerSize" [(ngModel)]="beerSize[1]" value="16" /><label for="bottle/pint">Bottle/Pint</label>
            <input id="can" type="radio" name="beerSize" [(ngModel)]="beerSize[0]" value="12" /><label for="can">Can</label>
        </div>
    </div>
    <input class="btn btn-default" type="button" (click)="goBack()" value="< Back" />
    <button class="btn btn-default" type="submit" [disabled]="!beerDetailsForm.form.valid">Add Beer</button>
</form>