<div class="container">
    <h2>Fill out your information</h2>
    <form (ngSubmit)="nextPage()" #homeForm="ngForm">
        <div class="form-group">
            <label for="gender">Gender:</label>
            
            <div class="radio">
                <label for="male">
                    <input id="male"
                           type="radio"
                           name="gender"
                           [(ngModel)]="gender[0]"
                           ngControl="gender"
                           value="Male"/>
                    Male
                </label>
            </div>
            
            <div class="radio">
                <label for="female">
                    <input id="female"
                           type="radio"
                           name="gender"
                           [(ngModel)]="gender[1]"
                           ngControl="gender"
                           value="Female"/>
                    Female
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <label for="bodyWeight">Body Weight:</label>
            <input type="number"
                   [(ngModel)]="model.bodyWeight"
                   class="form-control"
                   ngControl="bodyWeight"
                   #bodyWeight="ngForm"
                   pattern="[0-9]+"
                   required/>
            <div [hidden]="bodyWeight.valid || bodyWeight.pristine" class="alert alert-danger">
                We need to know how much you weigh
            </div>
        </div>
        
        <div class="form-group">
            <label for="hoursDrinking">Hours Drinking:</label>
            <input type="number"
                   [(ngModel)]="model.hoursDrinking"
                   class="form-control"
                   ngControl="hoursDrinking"
                   #hoursDrinking="ngForm"
                   pattern="[0-9]+"
                   required/>
            <div [hidden]="hoursDrinking.valid || hoursDrinking.pristine" class="alert alert-danger">
                We need to know how long you were drinking ... 
            </div>
        </div>
        
        <button type="submit" class="btn btn-default" [disabled]="!homeForm.form.valid" >Next</button>
    </form>
</div>
