<h1>Fill out your information</h1>
<div>
    <input id="male" type="radio" name="gender" [(ngModel)]="model.gender" value="Male" /><label for="male">Male</label>
</div>
<div>
    <input id="female" type="radio" name="gender" [(ngModel)]="model.gender" value="Female" /><label for="female">Female</label>
</div>
<div>
    Body Weight: <input type="text" [(ngModel)]="model.bodyWeight" />
</div>
<div>
    Hours Drinking: <input type="text" [(ngModel)]="model.hoursDrinking" />
</div>
<input (click)="nextPage()" type="button" value="Next"/>