<h1>Beer Search</h1> <br />
<div class="form-group input-group">
    <label for="beerName">Search:</label>
    <input type="text" [(ngModel)]="beerName" class="form-control"/>
    <span class="input-group-btn">
        <button class="btn btn-default" (click)="search(beerName)" type="button" [disabled]="!canSearch(beerName)">Search</button>
        <button class="btn btn-default" (click)="reset()" type="button">Clear</button>
    </span>
</div>
<search-buttons (previousPage)="previousPage(beerName, rawResponse.currentPage)"
                (nextPage)="nextPage(beerName, rawResponse.currentPage)"
                [shouldDisableNext]="!canPageForward()"
                [shouldDisablePrevious]="!canPageBackward()">
</search-buttons>
<div class="results">
    <div *ngIf="rawResponse.numberOfPages">Viewing page {{rawResponse.currentPage}} of {{rawResponse.numberOfPages}}</div>
    <ul class="api-data">
        <li *ngFor="let beer of beers" (click)="beerSelected(beer.id)"><span class="icon">🍺</span> {{beer.nameDisplay}}</li>
    </ul>
    <search-buttons *ngIf="rawResponse.numberOfPages"
                    (previousPage)="previousPage(beerName, rawResponse.currentPage)"
                    (nextPage)="nextPage(beerName, rawResponse.currentPage)"
                    [shouldDisableNext]="!canPageForward()"
                    [shouldDisablePrevious]="!canPageBackward()">
    </search-buttons>
</div>