<h1>Beer Search</h1> <br />
Search: <input [(ngModel)]="beerName"/>
<input (click)="search(beerName)" type="button" value="Search" [disabled]="!canSearch(beerName)" />
<input (click)="reset()" type="button" value="Clear" />
<search-buttons (previousPage)="previousPage(beerName, rawResponse.currentPage)"
                (nextPage)="nextPage(beerName, rawResponse.currentPage)"
                [shouldDisableNext]="!canPageForward()"
                [shouldDisablePrevious]="!canPageBackward()">
</search-buttons>
<div *ngIf="rawResponse.numberOfPages">Viewing page {{rawResponse.currentPage}} of {{rawResponse.numberOfPages}}</div>
<ul *ngFor="#beer of beers" class="api-data">
    <li (click)="beerSelected(beer.id)">{{beer.nameDisplay}}</li>
</ul>
<search-buttons *ngIf="rawResponse.numberOfPages"
                (previousPage)="previousPage(beerName, rawResponse.currentPage)"
                (nextPage)="nextPage(beerName, rawResponse.currentPage)"
                [shouldDisableNext]="!canPageForward()"
                [shouldDisablePrevious]="!canPageBackward()">
</search-buttons>