.input-group {
    padding-left: 5%;
}

.info {
    font-size: 1.2em;
    padding-bottom: 5%;
}

label {
    font-weight: bold;
    font-size: 1.2em;
}

.radio {
    font-size: 1.1em;
    padding-left: 5%;
}

.radio > label {
    padding-left: 0;
}

.radio > label:nth-of-type(1) {
    padding-right: 10%;
}