.input-group-btn {
    padding-left: 2%;
    padding-top: 6.5%;
}

.input-group-btn > button:nth-of-type(2) {
    margin-left: 4%;
}

.results {
    padding-top: 5%;
}

.results ul {
    padding-top: 5%;
}

.api-data {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.api-data li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.api-data li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.api-data li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.api-data {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.api-data li {
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.api-data li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.api-data li.selected {
  background-color: #CFD8DC;
  color: white;
}

.api-data li.selected:hover {
  background-color: #BBD8DC;
}
.api-data .text {
  position: relative;
  top: -3px;
}
.api-data .icon {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -7px;
  height: 2.5em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}